@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  /* border: 1px solid rgba(red, 0.5); */
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  @apply tracking-wide;
}

html,
body,
#home {
  @apply h-full w-full;
}

:root {
  --die-size: min(
    /* how much horizontal space is there */ calc(50vw / var(--num-dice)),
    /* how much vertical space is there */ calc(40vh / var(--num-players)),
    3rem
  );
}

.die {
  width: var(--die-size);
  height: var(--die-size);
}

.dice-row {
  gap: calc(var(--die-size) * 0.1);
}

.betDice {
  width: min(calc(var(--die-size) * 0.8), 1.5rem);
  height: min(calc(var(--die-size) * 0.8), 1.5rem);
}

.bet {
  width: min(5rem, 40%);
}

@layer base {
  button {
    cursor: pointer;
    @apply rounded-lg p-2 bg-gray-200 border-2 border-gray-500 shadow select-none;

    @media (hover: hover) {
      &:enabled {
        @apply hover:bg-gray-600 hover:border-gray-900 hover:text-white hover:shadow-md;
      }
    }
    @apply focus:outline-none;
    &:disabled {
      opacity: 0.5;
    }
  }

  .panel {
    @apply bg-white p-2 rounded;
  }
}

.manipulation {
  touch-action: manipulation;
}

.rules {
  @apply p-4;
  @apply text-gray-700;
  font-size: 19px;
  font-family: sans-serif;

  button {
    font-family: "Hammersmith One", sans-serif;
  }

  h1 {
    @apply text-3xl;
    @apply text-blue-800;
    @apply pt-6;
    @apply font-semibold;
  }

  h2 {
    @apply text-2xl;
    @apply text-blue-900;
    @apply pt-8;
    @apply font-semibold;
  }

  h3 {
    @apply text-lg;
    @apply text-blue-900;
    @apply pt-4;
    @apply font-medium;
  }

  p,
  .paragraph {
    @apply ml-0.5;
    @apply pt-2;
    line-height: 1.6rem;
  }
}
